<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>GoblokBot 1991</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
         rel="icon"
         href="https://i.ibb.co/z6WJ44H/Untitled.png"
         type="image/png"
         />
      <script
         src="https://code.jquery.com/jquery-3.5.1.min.js"
         crossorigin="anonymous"
         ></script>
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
         />
      <style type="text/css">
         body {
         background-color: #FFFFFF;
         }
         .ui.menu .item img.logo {
         margin-right: 1.5em;
         }
         .main.container {
         margin-top: 7em;
         }
         .wireframe {
         margin-top: 2em;
         }
         .ui.footer.segment {
         margin: 5em 0em 0em;
         padding: 5em 0em;
         }
      </style>
      <%- include('global/https')-%>
      <script>
         function angkaAcak(min, max) {
           // min and max included
           return Math.floor(Math.random() * (max - min + 1)) + min;
         }
           function gacha() {
             var min = parseInt($("#min").val());
             var max = parseInt($("#max").val());
             var num = angkaAcak(min, max);
             if (min === 0 && max === 0) {
               $("#resultg").html("0");
               return false;
             } else if (isNaN(num)) {
               $("#resultg").html("invalid");
               return false;
             } else {
               if (max <= min) {
                 $("#min").val(max);
                 $("#max").val(min);
                 min = parseInt($("#min").val());
                 max = parseInt($("#max").val());
                 num = angkaAcak(min, max);
               }
               $("#resultg")
                 .prop("Counter", parseInt($("#resultg").text()))
                 .animate(
                   {
                     Counter: num
                   },
                   {
                     duration: 700,
                     easing: "swing",
                     step: function(now) {
                       $("#resultg").text(Math.ceil(now));
                     }
                   }
                 );
             }
           }
         function turn(state, wat){
         <% if(admin) { %>
          $.get("/api/turn/"+wat+"/"+state,
                    function(res, status) {
            if(res.result){
          if(wat == "bot"){
            if (state == "off"){
              $("#statechat").html('<a class="ui red label" onclick="turn(\'on\', \'bot\')">Off</a>');
            } else if (state == "on"){
              $("#statechat").html('<a class="ui green label" onclick="turn(\'off\', \'bot\')">On</a>');
            }            
          } else if(wat == "pap"){
            if (state == "off"){
              $("#statepap").html('<a class="ui red label" onclick="turn(\'on\', \'pap\')">Off</a>');
            } else if (state == "on"){
              $("#statepap").html('<a class="ui green label" onclick="turn(\'off\', \'pap\')">On</a>');
            }   
          } else if(wat == "dex"){
            if (state == "off"){
              $("#statedex").html('<a class="ui red label" onclick="turn(\'on\', \'dex\')">Off</a>');
            } else if (state == "on"){
              $("#statedex").html('<a class="ui green label" onclick="turn(\'off\', \'dex\')">On</a>');
            }   
          }} else {
            window.location.reload();
          }
                    }
                )
         <% } else { %>
          return false
         <% } %>
         }
         jQuery(document).ready(function() {
           <% if(ban[0]) { %>
             var banc = setInterval(function() {
              countdown("<%= uid %>", <%= ban[2] %>)
            }, 1000);
            <% } %>
           const urlParams = new URLSearchParams(window.location.search);
            const myParam = urlParams.get('rng');
             if (myParam || myParam == ""){
               $('.ui.basic.modal').modal('show');
             }
           $(".special.cards .image").dimmer({
             on: "hover"
           });
           gacha();
           $('.ui.checkbox')
         .checkbox()
         ;
          function countdown(id, duration){
            // Get today's date and time
            var now = Date.now();
         
            // Find the distance between now and the count down date
            var distance = duration - now;
         
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
         
            // Output the result in an element with id="demo"
            var harDisplay = days > 0 ? days + " Hari " : "";
            var hDisplay = hours > 0 ? hours + " Jam " : "";
            var mDisplay = minutes > 0 ? minutes + " Menit " : "";
            var sDisplay = seconds > 0 ? seconds + " Detik " : "";
            document.getElementById(id).innerHTML = "Banned : "+(harDisplay+hDisplay+mDisplay+sDisplay).slice(0,-1);
         
            // If the count down is over, write some text 
            if (distance < 0) {
              clearInterval(banc);
              $('#'+id).hide();
            }
          }
           //$('#ads').modal('show');
         });
      </script>
      <!--<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
         <script>
           function addDarkmodeWidget() {
             new Darkmode().showWidget();
           }
           window.addEventListener('load', addDarkmodeWidget);
         </script>-->
   </head>
   <body>
      <%- include('global/menu')-%>
      <div class="pusher">
         <div class="ui main text container">
            <div class="ui breadcrumb">
               <a class="section" href="/">Home</a>
               <div class="divider">/</div>
            </div>
            <div class="ui divider"></div>
            <div class="ui basic modal">
               <div class="ui icon header">
                  <i class="random icon"></i>
                  Random Number Generator
               </div>
               <div class="content">
                  <div class="ui one column stackable center aligned page grid">
                     <div class="column twelve wide">
                        <form>
                           <p>This will send you random number.</p>
                           <div class="ui input small">
                              <input type="number" id="min" value="1">
                           </div>
                           to
                           <div class="ui input small">
                              <input type="number" id="max" value="10">
                           </div>
                           <br>
                           <h2 id="resultg"></h2>
                           <br><button class="ui button" onclick="gacha();return false;">
                           Generate
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="actions">
                  <div class="ui red basic cancel inverted button">
                     <i class="remove icon"></i>
                     Exit
                  </div>
               </div>
            </div>
            <div class="ui modal" id="ads">
               <i class="close icon"></i>
               <center>
                  <h3><br>
                     IKLAN DULU GAN
                  </h3>
                  <div class="ui fluid card">
                     <div class="ui image">
                        <img src="https://static.wixstatic.com/media/8517ed_9992c1f637274be0bc9541c0a7790222~mv2.png/v1/crop/x_8,y_0,w_1983,h_945/fill/w_1225,h_584,al_c,q_90,usm_0.66_1.00_0.01/1.webp">
                     </div>
                     <div class="content">
                        <a class="header" href="https://www.tecware.co/phantom-l" target="_blank">FOR SALE KEYBOARD MECHANICAL RGB LOW PROFILE</a>
                        <br>For more details and specifications, click the title.
                        <br>For more information (price, condition, etc), please contact admin.
                     </div>
                  </div>
               </center>
            </div>
            <h2 class="ui header">
               <img src="<%= items.picture %>" class="ui circular image">
               <div class="content">
                  Hello, <%= items.name %> <% if(ban[0]) { %>
                  <a class="ui red label" id="<%= uid %>">Banned : <%= ban[1] %></a>
                  <% } %>
                  <!--<div class="sub header"><a href="/logout">Log out</a></div>-->
                  <div class="sub header">Tip: check menu section</div>
               </div>
            </h2>
            <div class="ui divider"></div>
            <h2 class="ui header">
               <i class="power off icon"></i>
               <div class="content">
                  Bot Status
                  <div class="sub header">Bot's state</div>
              </div>
            </h2>
            <div class="ui grid">
               <div class="four wide column">
                  <h3 class="ui header">
                     <i class="linechat icon"></i>
                     <div class="content">
                        Chat
                        <span id="statechat">
                        <% if(state.bot == 1) { %> <a class="ui green label" onclick="turn('off', 'bot')">On</a> <% } else { %> <a class="ui red label" onclick="turn('on', 'bot')">Off</a> <% } %>
                        </span>
                     </div>
                  </h3>
               </div>
            </div>
            <div class="ui divider"></div>
            <h2 class="ui header">
               <i class="thumbs up outline icon"></i>
               <div class="content">
                  Featured Content
                  <div class="sub header">You might want to try</div>
               </div>
            </h2>
            <div class="ui divided centered items">
               <div class="item">
                  <a class="ui button" href="/command">
                  <i class="keyboard icon"></i>
                  Feature / Command Request
                  </a>
               </div>
               <div class="item">
                  <a class="ui button" href="/chat">
                  <i class="book icon"></i>
                  View Chat History
                  </a>
               </div>
               <div class="item">
                  <a class="ui button" href="/user">
                  <i class="user icon"></i>
                  View User List
                  </a>
               </div>
            </div>
            <!--<div class="ui breadcrumb">
               <a class="section">Home</a>
               <div class="divider">/</div>
               <div class="ui divider"></div>-->
            <!--<div class="field">
               <button class="ui button" onclick="$('.ui.basic.modal').modal('show');">
               <i class="random icon"></i>
               Random Number Generator
               </button>
               <a href="/latency">
               <button class="ui button">
               <i class="linkify icon"></i>
               View Bot Latency
               </button>
               </a>
               </div>-->
         </div>
         <%- include('global/footer')-%>
      </div>
   </body>
</html>